html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: rgb(100, 100, 255);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.mw-editsection { display:none;}

/* feed styles */

/* close dt unless they are open */
/* 
*/
dt.closed + dd {display:none;}
dt.open + dd {display:block;}
dt.open + dd + dd {display:block;}
dt.open + dd + dd + dd {display:block;}

.fa.disclosure:before {
  content: "\f0da";
  margin-right: 4px;
}
.open .fa.disclosure:before {
  content: "\f0d7";
}

/* Wikihow */
img.whcdn {
  width: initial;
  height: initial;
  aspect-ratio: auto;
}

.weather img, .boston_weather img {
  padding-left: 64px;
  display: inline-block;
  overflow: hidden;
}

/* Weather - icon replacement - due to blocking http urls */
img[src="http://www.rssweather.net/images/fcicons/blowingsnow.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/snow_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/cloudy.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/drizzle.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/rain_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/fair.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/fog.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/fog.png);
}
img[src="http://www.rssweather.net/images/fcicons/freezingrain.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sleet.png);
}
img[src="http://www.rssweather.net/images/fcicons/hazy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png); /* no haze for google */
}
img[src="http://www.rssweather.net/images/fcicons/hazyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/mcloudy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/mcloudyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/pcloudy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/pcloudyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/na.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/rain.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/rain.png);
}
img[src="http://www.rssweather.net/images/fcicons/showers.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/rain_s_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/snow.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/snow.png);
}
img[src="http://www.rssweather.net/images/fcicons/snowshowers.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/snow_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/sunny.gif"] { /* alt = "Fair" */
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/sunnyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/tstorm.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/thunderstorms.png);
}
img[src="http://www.rssweather.net/images/fcicons/tstormn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/thunderstorms.png);
}
img[src="http://www.rssweather.net/images/fcicons/chancetstorm.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny_t_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/wind.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/windy.png);
}
