html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Cormorant Garamond', serif;

  --background-color:  #f5e3c9;
  --text-color: rgb(85, 7, 6); /* #550706; */
  background: var(--background-color) url("/images/paperboard.jpg") repeat;
  color: var(--text-color);
  box-shadow: 0 0px 36px 2px rgb(177 109 85 / 36%) inset;
}

.symbol {
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  font-size: 1.25em;
}

.main time {
  font-style: italic;
}

.main .admonition {
  /* mapBorder */
  border: solid 6px;
  border-image: url(/images/map-border-sq.png) 12 / 6px round;
  padding: 0 .5em !important;
  margin-bottom: .5em;
}

.main .admonition p {
  margin: .5em;
}

h1, h2 {margin:0}

a {
  color: inherit;
  text-decoration: none;
 }
 a:hover {
  text-decoration: underline;
 }

 .markdown a {
  position: relative;
  z-index: 0;
  display: inline-block;
  text-decoration: none !important;
  font-weight: bold;
  cursor: pointer;
  /*
  overflow: hidden;
  vertical-align: bottom;
  transition: all .3s ease-out;
  */
}
a label {
  cursor: pointer;
}

/*
.markdown a::before,
a.cloud::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% + 1px));
  width: 100%;
  height: 100%;
 
  background-image: url(/images/ink-cloud.png);
  background-size: 100% 116%;
  box-shadow: 0 0 6px rgba(45, 7, 6, .9); /* forms the underline * /
  transition: transform .25s ease-out;
}

/*
-- Prior styling
.markdown a:hover::before,
.markdown a:focus::before,
.markdown a:active::before,
.markdown a.active::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
  box-shadow: none;
}
*/

/*
  Former attempts
  border-radius: 43% 10% 34% 7% / 90% 85% 73% 95%;
*/
/* 
  background-image: radial-gradient(ellipse farthest-side, rgba(85, 7, 6, .7), rgba(45, 7, 6, .9) 100%);
*/
/*
    text-shadow: 
    -1px 1px 2px #550706, 1px 1px 4px #550706, 1px -1px 2px #550706, -1px -1px 4px #560707,
    -1px 1px 2px #550706, 1px 1px 4px #550706, 1px -1px 2px #550706, -1px -1px 4px #560707,
    -1px 1px 2px #550706, 1px 1px 4px #550706, 1px -1px 2px #550706, -1px -1px 4px #560707;
*/

/* Skip this for image links */
.markdown a:has(img)::before {
  background-image: none !important;
  box-shadow: none !important;
  transition: none;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active,
.markdown .active { 
  color: #fff;
  text-shadow: rgb(85, 7, 6) 0 0 6px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.markdown a span::before, .markdown a span::after {
  /* d, p, dx, dy, ax are all set on the span element by markdownToHtml.js */
  --anim-s: 7s;
  --smoke-diam: 0.75em;
  display: inline-block;
  z-index: -1;
  height: var(--smoke-diam);
  width: var(--smoke-diam);
  position: absolute;
  opacity: 0;
  bottom: 0.25em;
  left: calc(var(--p) * 100% - var(--smoke-diam) / 4); /* p: 0 - 1, offset by the smoke radius */
  border-radius: 50%;
  background: radial-gradient(circle, rgba(85, 7, 6,.75), rgba(0,0,0,0));
  box-shadow: 0px -2px 4px 1px rgb(253 202 83);
  filter: blur(2px);
  animation: smokeFloatBefore var(--anim-s) ease-in-out infinite;
  animation-delay: calc(var(--d) * 2s); /* d: 100% - 0 - 100% */
}
.markdown a span::after {
  background: radial-gradient(circle, rgba(208, 135, 32, 0.75), rgba(245, 227, 201,.25));
  box-shadow: 0px 2px 4px 1px rgb(85, 7, 6,.75);
  animation-delay: calc(var(--d) * var(--ax) * 2s); /* ax: -50% - +50% */
  bottom: calc(var(--ax) * .5em);
  left: calc(var(--p) * 100% + var(--ax) * 0.25em - var(--smoke-diam) / 4);
  animation-name: smokeFloatAfter;
 }
.markdown .active span::before, .markdown .active span::after,
.markdown a:active span::before, .markdown a:active span::after,
.markdown a:focus span::before, .markdown a:focus span::after,
.markdown a:hover span::before,  .markdown a:hover span::after {
  content: '';
}
@keyframes smokeFloatBefore {
  /* Delta for :before sprite: 0,0 -> -1,2 -> 4,1 -> -3,-3 (as a multiplier of 1/6em) */
    0% {opacity: 0; transform: scale(0.25) translate(0, 0);}
  25%  {opacity: 1; transform: scale(1) translate(calc(var(--dx) * -1em / 6), calc(var(--dy) * 2em / 6))}
  75%  {opacity: 1; transform: scale(1.3) translateX(calc(var(--dx) * 3em / 6), calc(var(--dy) * 3em / 6))}
  100% {opacity: 0; transform: scale(2) translate(0, 0);}
}
@keyframes smokeFloatAfter {
  /* Delta for :after sprite: 0,0 -> 2,-1 -> -4,-1 -> 2,2 (as a multiplier of 1/6em) */
    0% {opacity: 0; transform: scale(0.5) translate(0, 0);}
  33%  {opacity: 1; transform: scale(1) translate(calc(var(--dx) * 2em / 6), calc(var(--dy) * -1em / 6))}
  66%  {opacity: 1; transform: scale(1.5) translate(calc(var(--dx) * -2em / 6), calc(var(--dy) * -2em / 6))}
  100% {opacity: 1; transform: scale(2) translate(0, 0)}
}

.markdown .test a span::before,
.markdown .test a span::after {
  animation-delay: 0s;
  opacity: 1;
  content: '';
  animation-name: none;
}
.markdown .test.before a span::after {
  content: none;
}
.markdown .test.after a span::before {
  content: none;
}

.markdown img {
  max-width: 100%;
}

.main

.homePage a {
  color: inherit;
  color: inherit;
  text-decoration: underline;
}
.homePage a:hover,
.homePage a:focus,
.homePage a:active,
.homePage a.active {
  color: inherit;
  text-decoration: underline;
  text-shadow: 0 0 1px rgb(177 109 85 / 85%);
}

.main header h1 a:hover,
.main header h1 a:focus,
.main header h1 a:active,
.main header h1 a.active {
  color: rgb(85, 7, 6);
  text-decoration: none;
  text-shadow: 4px 2px 4px rgb(177 109 85 / 85%);
}

.main hr {
  background-image: url(/images/map-border.png);
  background-size: contain;
  height: 4px;
  border: 0;
}
.main hr.marauders-low {
  background-image: url(/images/marauders-hr-low.png);
  background-size: contain;
  height: 12px;
  border: 0;
}

* {
  box-sizing: border-box;
}

.min-h-screen {
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
  width: 80%;
}
.hero img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 2px;
}

.mw-editsection { display:none;}

.folderList {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}
.postPreview {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 50%;
  flex-wrap: wrap;
  margin: 0 -2px 1em -2px; /* -2px to adjust for 50% width */
}
.postPreview video {
  width: 90%;
}
.postPreview p {
  text-align: center;
}
.three-across .postPreview {
  width: 33%;
}
.four-across .postPreview {
  width: 25%;
}

.postPreview video,
.mapBorder {
    /* .mapBorder copied from main.module.css (See notes there) */
    border: solid 12px;
    border-image: url(/images/marauders-border-low.png) 50 / 20px repeat;
    padding: 6px !important;
}

a:hover img.mapBorder,
a:focus img.mapBorder,
a:active img.mapBorder,
a.active img.mapBorder {
  border-image: url(/images/marauders-border-caps.png) 50 / 20px repeat !important;
}

img.mapBorder {
  max-width: 100%;
  max-height: 1000px;
}

div.note {
  background-color: rgb(255 255 255 / 80%);
  color: black;
  padding: 1em;
}
div.tarot {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
}
div.tarot .card {
  padding-right: 1em;
}
div.tarot .notes p:first-child {
  margin-block-start: 0;
}

div.clue {
  background-color: rgb(255 255 255 / 80%);
  color: black;
  position: relative;
  overflow: hidden;
  width: 300px;
  text-align: center;
  font-size:2.5em;
  text-wrap: nowrap;
}
div.top.clue {
  height: .63em;
  top: -.13em;
}
div.bottom.clue {
  height: .66em;
  line-height: 0em;
}
div.left.clue {
  text-align: left;
}
div.right.clue {
  text-align: right;
}

div.admonition {
  display: inline-flex;
  flex-flow: row;
  place-items: center;
}
div.admonition p.admonition-title {
  font-size: 0;
}
div.admonition p.admonition-title::before {
  content: '';
  font-size: initial;
  background-image: url(/images/pointing-right.svg);
  /* from https://commons.wikimedia.org/wiki/File:Joseph_Watson_manicule,_No._246,_pointing_right.svg */
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 1em;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .postPreview  {
    width: 100%;
    margin: 1em 0;
  }
  .postPreview video {
    width: 100%;
  }
  .three-across .postPreview,
  .four-across .postPreview {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  div.tarot {
    flex-wrap: wrap;
  }
  div.tarot .notes {
    margin-top: 1em;
  }
  div.tarot .card {
    margin: 0 auto;
  }
  div.tarot .card {
    padding-right: 0
  }
}

.main .preface {
  font-size: larger;
  font-weight: 300;
}

ul.contains-task-list {
  list-style-type: none;
}

/* feed styles */

.homePage {
  font-family: sans-serif;
}

.homePage a {
  text-decoration: none;
  color: rgb(0, 0, 238);
}
.homePage a:hover,
.homePage a:focus,
.homePage a:active {
  color: rgb(100, 100, 255);
}

/* close dt unless they are open */
/* 
*/
dt.closed + dd {display:none;}
dt.open + dd {display:block;}
dt.open + dd + dd {display:block;}
dt.open + dd + dd + dd {display:block;}

.fa.disclosure:before {
  content: "\f0da";
  margin-right: 4px;
}
.open .fa.disclosure:before {
  content: "\f0d7";
}

/* Wikihow */
img.whcdn {
  width: initial;
  height: initial;
  aspect-ratio: auto;
}

.weather img, .boston_weather img {
  padding-left: 64px;
  display: inline-block;
  overflow: hidden;
}

/* Weather - icon replacement - due to blocking http urls */
img[src="http://www.rssweather.net/images/fcicons/blowingsnow.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/snow_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/cloudy.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/drizzle.gif"] {
background: url(https://ssl.gstatic.com/onebox/weather/64/rain_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/fair.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/fog.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/fog.png);
}
img[src="http://www.rssweather.net/images/fcicons/freezingrain.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sleet.png);
}
img[src="http://www.rssweather.net/images/fcicons/hazy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png); /* no haze for google */
}
img[src="http://www.rssweather.net/images/fcicons/hazyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/mcloudy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/mcloudyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/pcloudy.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/pcloudyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/na.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/rain.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/rain.png);
}
img[src="http://www.rssweather.net/images/fcicons/showers.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/rain_s_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/snow.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/snow.png);
}
img[src="http://www.rssweather.net/images/fcicons/snowshowers.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/snow_light.png);
}
img[src="http://www.rssweather.net/images/fcicons/sunny.gif"] { /* alt = "Fair" */
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/sunnyn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny.png);
}
img[src="http://www.rssweather.net/images/fcicons/tstorm.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/thunderstorms.png);
}
img[src="http://www.rssweather.net/images/fcicons/tstormn.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/thunderstorms.png);
}
img[src="http://www.rssweather.net/images/fcicons/chancetstorm.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/sunny_t_cloudy.png);
}
img[src="http://www.rssweather.net/images/fcicons/wind.gif"] {
  background: url(https://ssl.gstatic.com/onebox/weather/64/windy.png);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  html, body {
    color: white;
    background: black none repeat;
    box-shadow: 0 0px 36px 12px rgba(144, 144, 144, 0.4) inset;
  }
  img.mapBorder {
    background: white;
  }
  img.parchment {
    background: #f5e3c9 url("/images/paperboard.jpg") repeat;
  }
  .main hr {
    background-image: url(/images/map-border-dark.png) !important;
  }
  .main hr.marauders-low {
    background-image: url(/images/marauders-hr-low-dark.png) !important;
  }

  .main .admonition {
    border-image: url(/images/map-border-sq-dark.png) 12 / 6px round !important;
  }
  .markdown a::before,
  a.cloud::before {   
    background-image: url(/images/ink-cloud-dark.png) !important;
    box-shadow:0 0px 34px 1px #aaaaaa !important;
  }

  .main header h1 a:hover,
  .main header h1 a:focus,
  .main header h1 a:active,
  .main header h1 a.active {
    color: rgba(144, 200, 144, 0.65) !important;
    text-shadow: 0px 0px 4px rgb(144 255 144 / 85%) !important;
  }

  .markdown a {
    color: rgba(144, 255, 144, 0.65);
  }
  .markdown a:hover,
  .markdown a:focus,
  .markdown a:active,
  .markdown .active { 
    color: rgba(0, 0, 0, 0.9) !important;
    text-shadow: 0px 0px 4px rgb(144 255 144 / 85%) !important;
  }
  .markdown a span::before {
    background: radiradial-gradient(circle, rgba(50, 255, 50, .75), rgba(100, 255, 100, .75));
    box-shadow: 2px 2px 6px 1px rgb(255 255 255);
  }
  .markdown a span::after {
    background: radial-gradient(circle, rgba(144, 200, 144, 0.75), rgba(144, 200, 144, 1));
    box-shadow: 0px -4px 6px 1px rgb(255 255 255);
  }

  .postPreview video,
  .mapBorder {
      border-image: url(/images/marauders-border-low-dark.png) 50 / 20px repeat;
  }
  a:hover img.mapBorder,
  a:focus img.mapBorder,
  a:active img.mapBorder,
  a.active img.mapBorder {
    border-image: url(/images/marauders-border-caps-dark.png) 50 / 20px repeat !important;
  }
}

/* Handle case where images inside of a flex 33% box render full size */
figure img {width: 100%; height: 100%;}
