html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: rgb(100, 100, 255);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.mw-editsection { display:none;}

/* feed styles */

/* close dt unless they are open */
/* 
*/
dt.closed + dd {display:none;}
dt.open + dd {display:block;}
dt.open + dd + dd {display:block;}
dt.open + dd + dd + dd {display:block;}

.fa.disclosure:before {
  content: "\f0da";
  margin-right: 4px;
}
.open .fa.disclosure:before {
  content: "\f0d7";
}
