.main {
    padding: 2rem 1.5em 1rem;
}

.header {
    font-family: 'Tangerine', cursive;

    box-shadow: 0 0 16px 2px rgb(78 15 11 / 50%);
    border-bottom: solid rgb(78 15 11 / 33%);

    /* For nav links */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header .title {
    padding: 2rem;
    padding-left: 1rem;
    font-size: 4vw;

}

.NavLinks {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    font-weight: normal;
    padding-right: 1em;
    display: flex;
}
.NavLinks .iconButton {
    display: flex;
    flex-direction: row;
}
.NavLinks .prevBtn {
    margin-right: .5em;
}
.NavLinks .upBtn {
    margin-right: .5em;
}

@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }
    .header .title {
        font-size: 11vw;
    }
    .NavLinks {
        flex-direction: column;
    }

    .NavLinks .iconButton {
        margin-left: 1em;
    }
}

.footer {
    text-align: center;
    padding:1px;
    font-size: 1.25em;

    /* box-shadow: 0 0 -16px 2px rgb(78 15 11 / 50%);*/
    box-shadow:
        rgba(0, 0, 0, 0.35) 0px 8px 12px -8px inset,
        rgba(0, 0, 0, 0.35) 0px 33px 40px -13px inset;
    border-top: solid rgb(78 15 11 / 33%);
}
.folderList {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.postPreview {
    width: 33%;
}
.excerpt {
    padding-right: 1em;
}
.coverImage {
    margin-inline-start: 0;
}

@media screen and (max-width: 800px) {
    .postPreview  {
        width:100%;
        margin: 1em 0;
    }
}

.mapBorder {
    /* This is tied to the size of the image, which has a 12px border so slice is 12.
       c.f. https://css-tricks.com/stacked-borders/ */
       /*
    border: solid 6px !important;
    border-image: url(/images/map-border-sq.png) 12 / 6px round !important;
    padding: 2px !important;

    The !important is due to Next/React's <Image /> hardwiring in a great deal of styles.

    round for border-image-repeat is better for the map border but repeat does less squishing
    on the ends for the letters.
    */
    border: solid 12px !important;
    border-image: url(/images/marauders-border-low.png) 50 / 20px repeat !important;
    padding: 6px !important;
}

.error {
    text-align:center;
    padding-top: 2rem;
}
.error h1 {
    font-size: 4vw;

}
.error p {
    font-family: 'Tangerine', cursive;
    font-size: 4vw;
    margin-top: 0.25em;
}

